body {
  font-family: 'Comfortaa', sans-serif;
}

.main-wrapper {
  width: 90%;
  max-width: 900px;
  margin: 3em auto;
  text-align: center;
}

.badge {
  position: relative;
  margin: 1.5em 3em;
  width: 4em;
  height: 6.2em;
  border-radius: 10px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
  
  &:before,
  &:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  &:before {
    transform: rotate(60deg);
  }
  
  &:after {
    transform: rotate(-60deg);
  }
  
  &:hover {
    top: -4px;
  }
  
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 60px;
    height: 60px;

    font-size: 35px;
    line-height: 60px;
    color: white;

    margin: auto;

    //background: #fff;
    z-index: 10;
    border-radius: 50%;

    vertical-align: middle;
  }

  .ribbon {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 7%;

    width: 40px;

    border-radius: 4px;

    padding: 5px 5px 4px;
    
   z-index: 11;

    color: #fff;
    font-size: 14px;
    
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #555 0%, #333 100%);
    cursor: default;

        //height: 15px;
  }
}

.yellow {
 background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
}