// See https://stackoverflow.com/a/25776315
@mixin center-x-absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

$badge-background: #1c1a1a;
$event-color: #d4fd56;
$time-background: #d4fd56;
$time-color: #1c1a1a;

body {
  padding-top: 2em;
}

.badge {
  position: absolute;
  display: inline-block;
  width: 4em;
  height: 6.2em;
  border-radius: 10px;
  cursor: default;
  background: $badge-background;
  font-family: sans-serif;
  text-align: center;
  
  &:before,
  &:after {
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
  }
  
  &:before {
    transform: rotate(60deg);
  }
  
  &:after {
    transform: rotate(-60deg);
  }

  .event {
    @include center-x-absolute;

    font-size: 35px;
    color: $event-color;
    z-index: 2;
    top: 20%;
  }

  .time {
    @include center-x-absolute;

    bottom: 10%;
    background: $time-background;
    color: $time-color;
    border-radius: 4px;
    font-size: 14px;
    padding: 3px;
    z-index: 3;
  }
}

.row {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}

.column {
  display: flex;
  justify-content: center;
  flex: 1;
}
